/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.bash_history
.docker/dbdata/
/.composer
/.vscode-server
fc-codeflix-421514-78590bb4cd55.json
/storage/cloud